.button-1, 
.button-2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.button-1 {
    background-color: rgb(0,0,0);
    color: hsl(10, 100% 50%);
}

.button-2 {
    background-color: rgb(255,255,0);
}
